<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fruit Shop Landing Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
#header {
  height: max-content;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  #header {
    text-align: center;
    height: auto;
  }
}
.header-content-div {
  max-width: 95rem;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .header-content-div {
    max-width: 75rem;
  }
}
#header-img {
  height: 5rem;
  width: auto;
}
@media (max-width: 800px) {
  #header-img {
    height: 4rem;
  }
}
nav {
  position: relative;
  top: 0.8rem;
  float: right;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.5rem 0;
}
@media (max-width: 800px) {
  nav {
    position: static;
    float: none;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
}
.nav-link {
  text-decoration: none;
  color: #333;
  margin: 0 0.5rem;
  padding: 0 0.6rem;
  transition: border-bottom 0.2s;
}
@media (max-width: 475px) {
  .nav-link {
    margin: 0 0.2rem;
    padding: 0 0.2rem;
    font-size: 1.2rem;
  }
}
.nav-link:hover {
  color: #e23d3d;
  border-bottom: 2px solid #e23d3d;
}
.nav-link:active {
  color: #f84848;
}
.flexible {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.home-sec {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  text-align: start;
  min-height: 60rem;
  height: auto;
  margin: 0 auto 5rem auto;
  justify-content: start;
  max-width: 95rem;
  color: #333;
}
@media (max-width: 800px) {
  .home-sec {
    flex-flow: column wrap;
    max-width: 100%;
  }
}
.eye-grabber {
  flex: 1;
  padding: 0 2rem;
}
@media (max-width: 800px) {
  .eye-grabber {
    max-width: max-content;
    padding-bottom: 8rem;
  }
}
.eye-grabber h1 {
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 600;
}
.eye-grabber h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #666;
}
.eye-grabber-img {
  flex: 1;
}
@media (max-width: 800px) {
  .eye-grabber-img {
    width: 100%;
  }
}
.eye-grabber-img img {
  max-width: 100%;
}
.btn {
  border: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding: 2rem;
  background-color: #e23d3d;
  color: #fafafa;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s;
}

.btn:hover {
  background-color: #f84848;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.9);
}
.section-heading {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 5rem 0 5rem 0;
  text-align: center;
}
.sec-content-div {
  font-size: 2rem;
  text-align: start;
  padding: 0 2rem 5rem 2rem;
  width: auto;
  justify-content: space-around;
  max-width: 95rem;
  margin: 0 auto;
}
.sec-padding {
  padding: 8rem 0 10rem 0;
}
#about {
  background-color: #fafafa;
}
#about img {
  max-width: 100%;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 6px 31px -2px rgba(0, 0, 0, 0.1);
}
#varieties {
  background-color: #e3e3e3;
}
.tile {
  background-color: #fafafa;
  height: 40rem;
  width: 25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  transition: all 0.2s;
  padding: 1.5rem;
  margin: 1.5rem;
}
@media (max-width: 680px) {
  .tile {
    width: auto;
    max-width: 100%;
    min-width: 20rem;
    margin: 1.5rem auto;
    height: auto;
  }
}
.tile img {
  width: 100%;
  max-width: 48rem;
  border-radius: 0.5rem;
}
.tile h4 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
  color: #e23d3d;
  margin: 0;
}
.tile p {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
}
.tile:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#our-service {
  background-color: #ee6f57;
}
.bars {
  height: max-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 2rem;
  width: 100%;
}
@media (max-width: 990px) {
  .bars {
    flex-flow: column wrap;
  }
  .icon-container {
    margin: 0 2.5rem;
  }
}
.bars .icon-container {
  max-width: 10rem;
  flex: 1;
}
.icon-container img {
  max-height: 100%;
  max-width: 100%;
}
.bars .txt-container {
  flex: 2;
  padding: 3rem;
}
.txt-container h5 {
  font-size: 4rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.txt-container p {
  font-size: 2.3rem;
}
#benefits {
  background-color: #f84848;
}
#benefits iframe {
  outline: 0;
  border: none;
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
}
#contact {
  background-color: #cb3737;
  color: #fafafa;
}
#contact h6 {
  font-size: 3rem;
  font-weight: 500;
}
input[type="email"] {
  border: none;
  outline: 0;
  font-size: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem;
}
@media (max-width: 520px) {
  #contact h6 {
    font-size: 2rem;
  }
  #contact input[type="submit"],
  #contact input[type="email"] {
    margin: 1rem 1rem 0 1rem;
  }
}
footer {
  font-size: 1.4rem;
  background-color: #ce2f2f;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #fafafa;
}
footer a {
  color: #e3e3e3;
  text-decoration: none;
}
  </style>
  <body>
    <header id="header">
      <div class="header-content-div" style="display: flex; text-align: center; justify-content: space-evenly;">
        <a href="#home-sec">
          <img
            src="https://static.toiimg.com/thumb/msid-91261722,width-1280,height-720,resizemode-72/91261722.jpg"
            alt="Company Logo"
            id="header-img"
        /></a>
        <form action="/login" method="GET" style="margin-right: 20px;">
          <button type="submit" style="background-color: white; color: #343a40; border: none; font-size: 16px; padding: 10px 15px; cursor: pointer; transition: background-color 0.3s, color 0.3s; border-radius: 5px;">Login</button>
      </form>
      <form action="/register" method="GET">
          <button type="submit" style="background-color: white; color: #343a40; border: none; font-size: 16px; padding: 10px 15px; cursor: pointer; transition: background-color 0.3s, color 0.3s; border-radius: 5px;">Register</button>
      </form>
      </div>
    </header>
    <main>
      <section id="home-sec" class="flexible home-sec">
        <div class="eye-grabber-img">
          <img style="width: auto; height: auto;"
            src="https://assets.telegraphindia.com/telegraph/2023/Oct/1697795773_1692191738_1691852334_supreme-court-india.jpg"
            alt="Image of Apples"
          />
        </div>
        <div class="eye-grabber">
          <h1>Court Case Management System</h1>
          <h3 style="text-decoration: none; font-size: medium;">
            Welcome to our Court Case Management System. Our platform offers two distinct login portals: one for clients and one for lawyers. 
            Both clients and lawyers can easily register themselves on our website. After logging in, clients gain access to a comprehensive 
            dashboard where they can view active cases, resolved cases, and register new cases by filling out a form and assigning a lawyer. 
            Lawyers, upon logging in, can see a list of cases they are working on and receive notifications about important dates, such as hiring 
            dates. This system ensures efficient case management and seamless communication between clients and their legal representatives.
          </h3>
        </div>
      </section>
      <section id="about" class="sec-padding">
        <h3 class="section-heading">ABOUT US</h3>
        <div class="sec-content-div flexible">
          <div class="card" style="width: 18rem;">
            <img src="https://media.licdn.com/dms/image/D5603AQHKiWOR4obhEQ/profile-displayphoto-shrink_200_200/0/1712241733567?e=2147483647&v=beta&t=T4pseA-jRSxT-57mkWGlvBz34fjEXlPStwbo8NJHaFM" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Shriram Kekan</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="https://media.licdn.com/dms/image/D5603AQFzLIVxmY7oUw/profile-displayphoto-shrink_200_200/0/1710374766221?e=2147483647&v=beta&t=a_5bIkBrShttHh7agBTmxRchHU6-amFAFEYt4IGbQak" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Vivek Raj</p>
            </div>
          </div>
        </div>
      </section>
      <section id="varieties" class="sec-padding">

        <div style="padding: 20px; background-color: #f0f0f0;">
          <h2 style="text-align: center; font-size: 24px; margin-bottom: 10px;">How to Use</h2>
          <p style="text-align: center; font-size: 16px; line-height: 1.6;">Welcome to our Court Case Management System. Our platform offers two
             distinct login portals: one for clients and one for lawyers. Both clients and lawyers can easily register themselves on our website.
              After logging in, clients gain access to a comprehensive dashboard where they can view active cases, resolved cases, and register 
              new cases by filling out a form and assigning a lawyer. Lawyers, upon logging in, can see a list of cases they are working on and 
              receive notifications about important dates, such as hiring dates. This system ensures efficient case management and seamless 
              communication between clients and their legal representatives.</p>
      </div>

      
      </section>
      <h2 style="text-align: center;">Contact Us</h2>
      <form action="#" method="POST" style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        <div style="margin-bottom: 20px;">
            <label for="name" style="display: block; margin-bottom: 5px; font-size: medium;">Name:</label>
            <input type="text" id="name" name="name" style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" required>
        </div>
        <div style="margin-bottom: 20px;">
            <label for="email" style="display: block;  margin-bottom: 5px; font-size: medium;">Email:</label>
            <input type="email" id="email" name="email" style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" required>
        </div>
        <div style="margin-bottom: 20px;">
            <label for="dob" style="display: block;  margin-bottom: 5px; font-size: medium;">Date of Birth:</label>
            <input type="date" id="dob" name="dob" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        </div>
        <div style="margin-bottom: 20px;">
            <label for="occupation" style="display: block; margin-bottom: 5px; font-size: medium;">Occupation:</label>
            <input type="text" id="occupation" name="occupation" style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;">
        </div>
        <div style="margin-bottom: 20px;">
            <label for="message" style="display: block;  margin-bottom: 5px; font-size: medium;">Message:</label>
            <textarea id="message" name="message" style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical; min-height: 100px;" required></textarea>
        </div>
        <div style="margin-bottom: 20px;">
            <input type="submit" value="Submit" style="background-color: #007bff; color: #fff; border: none; padding: 12px 20px; font-size: 16px; cursor: pointer; border-radius: 4px;">
        </div>
    </form>
    
    </main>
    <footer>
      Created by
      <a href="#">Shriram Kekan & Vivek Raj</a>
    </footer>
  </body>
</html>